/* Pagination Styles */
.pagination-wrapper {
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    /* Responsive */
}

.page-btn {
    background: white;
    border: 1px solid #ddd;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.9rem;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    font-family: var(--inter_font);
}

.page-btn:disabled {
    color: #ccc;
    cursor: not-allowed;
    border-color: #eee;
}

.page-btn:hover:not(:disabled) {
    border-color: var(--color_main_title);
    color: var(--color_main_title);
}

.page-btn.active {
    background-color: var(--color_main_title);
    color: white;
    border-color: var(--color_main_title);
    font-weight: 700;
}