.checkout {
    padding: 0 var(--general_padding_left_right3);
}

.checkout_title {
    font-size: 42px;
    text-align: center;
    padding-top: var(--general_padding_top_bottom);
    font-weight: 700;
}

.checkout_section1 {
    display: flex;
    gap: 2%;
    padding-top: var(--general_padding_top_bottom);
}

.checkout_section1_col1 {
    width: 65%;
}

.checkout_section1_col2 {
    width: 35%;
}

.checkout_section1_box {
    background-color: rgb(222, 222, 222);
    border-radius: 20px;
    padding: 20px;
}

.checkout_line {
    border-bottom: 2px solid black;
}

.checkout_input {
    color: white;
    background-color: rgb(143, 141, 139);
    border: none;
    border-radius: 40px;
    outline: none;
    font-size: 20px;
    height: 50px;
    padding: 0 15px;
}

.checkout_input::placeholder {
    color: white
}

.checkout_section1_name {
    font-size: 30px;
    font-weight: 700;
}

.checkout_section1_cus_name {
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
}

.checkout_section1_cus_container {
    padding-top: 30px;
    display: flex;
    gap: 2%;
    width: 100%;
}

.checkout_section1_cus_phone,
.checkout_section1_cus_email {
    width: 50%;
}

.checkout_section1_add {
    margin-top: 50px;
}

.checkout_section1_add_container {
    display: flex;
    gap: 2%;
    margin-top: 40px;
}

.checkout_section1_add_address {
    width: 60%;
}

.checkout_section1_add_zip {
    width: 40%;
}

.checkout_section1_add_container2 {
    display: flex;
    gap: 2%;
    margin-top: 30px;
}

.checkout_section1_add_phone {
    width: 50%;
}

.checkout_section1_add_email {
    width: 50%;
}

.checkout_section1_voucher {
    margin-top: 50px;
}

.checkout_section1_voucher_name {
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
}

.key_value_position {
    display: flex;
    justify-content: space-between;
}

.checkout_section1_all_sum {
    font-size: 25px;
    font-weight: 700;
}

.checkout_section1_sum,
.checkout_section1_discount,
.checkout_section1_trans {
    font-size: 20px;
}

.checkout_section1_col2_bt {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.checkout_section2 {
    width: 60%;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: var(--general_padding_top_bottom);
    padding-top: 50px;
}

.checkout_section2_filter {
    margin-top: 40px;
}

.checkout_section2_checkmark.checkmark {
    border-radius: 50%;
}

.checkout_section2_payment_list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.checkout_section2_payment_item {
    width: 200px;
}