.cart {
    padding: 0 var(--general_padding_left_right3);
}

.cart_title {
    font-size: 42px;
    text-align: center;
    padding-top: var(--general_padding_top_bottom);
    font-weight: 700;
}

.cart_list {
    padding-top: var(--general_padding_top_bottom);
}

.cart_field_name {
    display: flex;
}

.cart_field_name_product {
    width: 35%;
}

.cart_field_name_price {
    width: 25%;
}

.cart_field_name_count {
    width: 25%;
}

.cart_field_name_sum {
    width: 15%;
}

.cart_field_name p {
    font-size: 22px;
    text-align: center;
}

.cart_field_value {
    display: flex;
    border-top: 2px solid rgb(223, 223, 223);
    border-bottom: 2px solid rgb(223, 223, 223);
    height: 300px;
    margin-top: 20px;

}

.cart_field_value_product {
    width: 35%;
    display: flex;
    gap: 5%;
}

.cart_field_value_product_image {
    display: block;
    width: 39%;
}

.cart_field_value_product_text {
    padding-top: 20px;
    font-size: 22px;
}


.cart_field_value_product_color {
    color: rgb(138, 138, 138);

}

.cart_field_value_product_delete {
    color: rgb(138, 138, 138);
    text-decoration: underline;
}

.cart_field_value_price {
    width: 25%;
    padding-top: 20px;
    font-size: 22px;
    text-align: center;
}

.cart_field_value_count {
    width: 25%;
    padding-top: 35px;
}

.cart_field_value_count_box {
    border: 2px solid rgb(223, 223, 223);
    width: fit-content;
    margin: 0 auto;
}

.cart_field_value_count_minus,
.cart_field_value_count_add {
    border: none;
    background-color: var(--general_background_color);
    width: 35px;
    aspect-ratio: 1;
    font-size: 25px;
}

.cart_field_value_count_value {
    display: inline-block;
    font-size: 25px;
    width: 60px;
    height: 35px;
    text-align: center;
}

.cart_field_value_sum {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 22px;
}

.cart_all_sum_container {
    padding-top: var(--general_padding_top_bottom);
}

.cart_all_sum {
    width: 500px;
    margin-left: auto;
    color: rgb(138, 138, 138);
    font-size: 22px;
    padding-bottom: var(--general_padding_top_bottom);
}

.cart_all_sum_tax {
    color: var(--color_general_text);
}

.cart_all_sum_line {
    border-top: 2px solid rgb(223, 223, 223);
    margin-top: 50px;
}

.cart_all_sum_value {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: var(--color_general_text);
}

.cart_all_sum_bt {
    width: 100%;

}