.nav_list,
.nav_list2 {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

.nav_item,
.nav_item2 {
    margin-bottom: 0;
    text-decoration: none;
}

.nav_item a,
.nav_item2 a {
    text-decoration: none;
    font-weight: 700;
    color: var(--color_main_title);
}

.nav_item a:visited,
.nav_item2 a:visited {
    color: var(--color_main_title)
}

header {
    background-image: var(--text_gradient);
    padding: 20px var(--general_padding_left_right);
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    width: 15%;
}

.nav_list {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_item {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.icon_nav_item {
    margin-right: 5px;
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header_product_image {
    color: var(--color_main_title)
}

.nav_list2 {
    width: 15%;
    display: flex;
    align-items: center;

}

.nav_item2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_nav_item2 {
    width: 30px;
    height: 30px;

}

.nav_item2_text {
    text-align: center;
}

.nav_item2_text h4 {
    margin: 0;
}
.nav_lang_toggle {
    background: none;
    border: 1px solid var(--color_main_title);
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: var(--color_main_title);
    margin-left: 10px;
}
