name: EAS Build
on:
  push:
    branches:
      - main
    paths:
      - 'app/mobile/**'
  workflow_dispatch:

jobs:
  build:
    name: Install and Build APK
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app/mobile
    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets."
            exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: npm
          cache-dependency-path: ./app/mobile/package-lock.json

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci
        
      - name: Build APK
        run: eas build --platform android --profile preview --non-interactive --no-wait
