.banner_image {
    width: 100%;
}

.section2 {
    padding-top: var(--general_padding_top_bottom);
}

.section2_row1 {
    border-bottom: 2px solid rgb(223, 223, 223);
    padding: 10px;
    margin: 0 var(--general_padding_left_right);
    display: flex;
    gap: 0.5%;
}

.search_image {
    transform: translateY(2px);
    margin-right: 10px;
    width: 2%;
}

.search_bar {
    height: 30px;
    border: none;
    background-color: var(--general_background_color);
    outline: none;
    font-size: 20px;
    width: 97.5%;
}

.section2_row2 {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 30px;
}

.indicator {
    width: 30px;
    height: 6px;
    background: rgb(223, 223, 223);
}

.indicator.active {
    background: rgb(163, 2, 81);
    box-sizing: border-box;
    border: 2px solid rgb(250, 87, 166);
}

.section2_row3 {
    display: flex;
    padding: 0 var(--general_padding_left_right3);
    padding-top: var(--general_padding_top_bottom);
}

.section2_row3_col1 {
    width: 20%;
}

.price_range_title,
.filter_title,
.filter2_title,
.filter3_title {
    color: var(--color_general_text);
}

.price_range_input {
    width: 60px;
    height: 35px;
    font-size: 16px;
}

.price_separator {
    margin: 0 1%;
}

.filter_item,
.filter2_item,
.filter3_item {
    display: block;
}

.filter_item input,
.filter2_item input,
.filter3_item input {
    display: none;
}

.section2_row3_col2 {
    width: 80%;
    display: flex;
    gap: 2%;
    row-gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.product_item {
    width: calc((100% - (5 - 1) * 2%) / 5);
    display: flex;
    flex-direction: column;
}

.product_image {
    display: block;
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.product_text {
    padding: 20px;
    background-color: var(--general_background_color2);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product_name {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product_description {
    margin: 0;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #666;
}

.product_bottom {
    margin-top: auto;
    padding-top: 20px;
}

.product_price {
    margin: 0;
    font-weight: 700;
    color: var(--color_main_title);
}

.product_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_cart {
    cursor: pointer;
}

.section3 {
    padding: 0 var(--general_padding_left_right);
}

.section3_title {
    text-align: center;
    color: var(--color_general_text);
    padding: var(--general_padding_top_bottom) 0;
}

.best_selling_name {
    font-weight: 700;
    color: var(--color_main_title)
}

.best_selling_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.best_selling_item {
    width: calc((100% - (4 - 1) * 2%) / 4);
    border: 2px solid rgb(223, 223, 223);
}

.best_selling_image {
    display: block;
    width: 100%;
    aspect-ratio: 3/4;
}

.best_selling_text {
    padding: 20px;
    background-color: var(--general_background_color2);
}

.section4 {
    display: flex;
    padding: 0 var(--general_padding_left_right);
    padding-top: var(--general_padding_top_bottom);
}

.section4_col1 {
    width: 60%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(61, 2, 30);
    color: white;
}

.section4_col1_bt {
    width: 200px;
    color: var(--color_main_title);
    font-size: 16px;
    margin-top: 20px;
}

.section4_col2 {
    width: 40%;
}

.section5 {
    padding: 0 var(--general_padding_left_right);
    padding-bottom: var(--general_padding_top_bottom);
}

.section5_title {
    text-align: center;
    color: var(--color_general_text);
    padding-top: var(--general_padding_top_bottom);
}

.section5_more_view {
    color: var(--color_main_title);
    display: flex;
    justify-content: flex-end;
}

.blog_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-top: 10px;
}

.blog_item {
    border: 2px solid rgb(223, 223, 223);
    width: calc((100% - (3 - 1) * 2%) / 3);
}

.blog_image {
    width: 100%;
    aspect-ratio: 4/3;
}

.blog_text {
    padding: 20px;
    background-color: var(--general_background_color2);
}

.blog_more_info {
    color: rgb(96, 96, 96);
}

.blog_description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}